body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .card h2 {
    margin-bottom: 20px;
  }
  
  .card input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
  }
  
  .card button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px 0;
    background-color: #1e2496;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .card button:hover {
    background-color: #151a72;
  }

  .linkStyle{
    color: #1e2496;
    text-decoration: none;
    display: 'block',;
    margin-top: '20px';
    padding: 10px;
    margin: 20px 0;
  }
  .backLinkStyle{
    color: #1e2496;
    text-decoration: none;
    display: 'block',;
    margin-top: '20px';
    padding: 10px;
    margin: 20px 0;
    font-size: large;
  }

  .forgetPasswordLinkStyle{
    color: #1e2496;
    text-decoration: none;
    display: 'block',;
    margin-top: '20px';
    padding: 10px;
    margin-left: 9.99rem;
    font-size: large;
  }
  